[Unit]
Description=Cafeteria service

[Service]
WorkingDirectory=/home/potados/.cafeteria/bin
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/potados/.cafeteria/bin"
ExecStart=/home/potados/.cafeteria/bin/bootup
Restart=no
User=potados

[Install]
WantedBy=multi-user.target
